<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">
  <main>
      <section class="sec1">
          <div class="box1">
          <div class="menu">
            <% include ../helpers/menu %>
          </div>
          <div class="home">
            <div class="box1-1">
              <h1>&bull; muny pottery studio &bull;</h1>
              <!--<h1 id="greeting"></h1>
              <h1 id="en">Welcome to MUNY Studio :)<br/>
              Muddy hands make beautiful art 
              <i class="fa fa-heart" id="heart" aria-hidden="true">
              </i><br/>enjoy getting dirty with us !</h1>-->
            </div>
            <div class ="box1-3">	
              <h1>class registeration</h1>
              <h2 id="registerclass"></h2>
          </div>
        </div>
        </div>
        <script src="js/classregisteration.js"></script>
        </section>
        <section class="copyright">
          <div id="cr">
            <p>Copyright &copy; 2019 Muny Pottery Studio. All rights reserved.</p>
          </div>
        </section>
  </main>

</body>
</html>
