<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <section class="sec1">
      <div class="box1">
      <div class="menu">
        <h1 id="kr"><a href="#top">무니도예</a></h1>
        <h1 id="en"><b>muny</b><br/>pottery studio</h1>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-plus" id="plus"></i></span><a href="">home</a></li>
          <li><span class="fa-li"><i class="fas fa-plus" id="plus"></i></span><a href="">class</a><li>
          <li><span class="fa-li"><i class="fas fa-plus" id="plus"></i></span><a href="">membership</a></li>
          <li><span class="fa-li"><i class="fas fa-plus" id="plus"></i></span><a href="">contact</a></li>
        </ul>
      </div>
      <div class="home">
        <h1 id="greeting"></h1>
          <h1 id="en">Welcome to MUNY Studio :)<br/>Muddy hands make beautiful art <i class="fa fa-heart" id="heart" aria-hidden="true"></i><br/>enjoy getting dirty with us !</h1>
          <h1></h1>
      </div>
      </div>
    </section>
  
    <section class="copyright">
      <div id="cr">
        <p>Copyright &copy; 2019 Muny Pottery Studio. All rights reserved.</p>
      </div>
      <script src="js.js"></script>
    </section>
  </main>

</body>
</html>
